<div id="<%= dom_id delivery_cost %>">
  <p class="threshold">
    <strong>Threshold:</strong>
    <%= delivery_cost.threshold %>
  </p>

  <p class="price">
    <strong>Price:</strong>
    <%= delivery_cost.price %>
  </p>

</div>
