<% content_for :title, "New delivery cost" %>

<h1>New delivery cost</h1>

<%= render "form", delivery_cost: @delivery_cost %>

<br>

<div>
  <%= link_to "Back to delivery costs", delivery_costs_path %>
</div>
