<div id="<%= dom_id product %>">
  <p class="name">
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p class="code">
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p class="price">
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
